<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PolyAxisGraphs.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PolyAxisGraphs.Settings1>
            <setting name="chartfontsize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="usedfontsize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="usedfont" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="gridinterval" serializeAs="String">
                <value>20</value>
            </setting>
        </PolyAxisGraphs.Settings1>
    </userSettings>
</configuration>